<div class="card">
    <div class="card-header text-center" style="width: 50%; margin: 0 auto;">
        <h1>Edit Pet</h1>
    </div>
    <div class="card-body" style="width:800px; margin:0 auto;">

        <form>
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" value="{{firstName}}">
            </div>
            <br>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" value="{{lastName}}">
            </div>
            <br>
            <div class="form-group">
                <label for="designation">Designation</label>
                <input type="text" class="form-control" id="designation" value="{{designation}}">
            </div>
            <br>
            <div class="form-group">
                <label for="insuranceBalance">Insurance Balance</label>
                <input type="text" class="form-control" id="insuranceBalance" value="{{insuranceBalance}}">
            </div>
            <br>
            <div class="form-group">
                <label for="rbt">RBT(Role Based Training Progress)</label>
                <input type="text" class="form-control" id="rbt" value="{{rbt}}">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>

  </div>
</div>