<div class="card">
    <div class="card-header text-center" style="width: 50%; margin: 0 auto; font-family: 'Oswald'">
        <h1>Edit Pet</h1>
    </div>
    <div class="col-sm-3 sidenav" style="width: 200px;">
        <button type="button" class="btn btn-secondary" (click)="navigatetoPetList()" style="width: 200px; margin-left: 10px;"> Go back </button> 
    </div>
    <div class="card-body" style="width:1000px; margin:0 auto; border-radius: 5; border: 2px solid #161615; border-radius: 10px; margin-bottom: 20px;">

        <form #PetForm = "ngForm" (ngSubmit) = "updatePet(PetForm.value)">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" name="firstName" [ngModel] = "firstName">
            </div>
            <br>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" name="lastName" [ngModel] = "lastName">
            </div>
            <br>
            <div class="form-group">
                <label for="designation">Designation</label>
                <input type="text" class="form-control" name="designation" [ngModel] = "designation">
            </div>
            <br>
            <div class="form-group">
                <label for="insuranceBalance">Insurance Balance</label>
                <input type="text" class="form-control" name="insuranceBalance" [ngModel] = "insuranceBalance">
            </div>
            <br>
            <div class="form-group">
                <label for="rbt">RBT(Role Based Training Progress)</label>
                <input type="text" class="form-control" name="rbtProgress" [ngModel] = "rbtProgress">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>

  </div>
</div>