.jumbotron {
    background-color: #f5f5f5;
    background-image: url(/assets/homebackground2.jpg);
    color: #fff;
    padding:  25px;
    border: 5px solid #555555 ;
    border-radius: 25px;
  }

  
  .container-fluid {
    padding: 60px 50px;
  }

  .footer-basic {
    padding:20px 0;
    background-color:#d8d6d6;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  

  