<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div style="background-color: rgb(255, 255, 255); border: 2px solid #c7c7c6; ">
    <div class="jumbotron" >
      <div class="row justify-content-md-center" >

        <div class="col col-lg-4 text-center" style="border: 5px solid #383831; padding: 15px; border-radius: 20px;">
          <img class="card-img-top mt-0.5 icon" src="/assets/pets4.jpg" alt="Card image" height="70%">
          <a class="btn btn-outline-dark  btn-lg mt-3" (click)="loadPets()" >Go to Pets</a>
        </div>

        <div class="col col-lg-2" >
        </div>

        <div class="col col-lg-4 text-center" style="border: 5px solid #383831; padding: 15px; border-radius: 20px;">
          <img class="card-img-top mt-0.5 icon" src="/assets/people.JPG" alt="Card image" height="70%">
          <a class="btn btn-outline-dark  btn-lg mt-3" (click)="loadOwners()" >Go to Owners</a>
        </div>
      </div>
      </div>
       <div class="footer-basic">
        <footer>
            <p class="copyright">Animal Care © 2021 - Damsak Bandara</p>
        </footer>
    </div>
  </div>  
</body>
</html>