<h1>Welcome to the Name Sorting Problem</h1>

<h2>The list of names -</h2>

<div class="namelist">

    <p><%= NameSort['PeopleArray'] %><p>

</div>
    
</br>
 
<div class="topic">
    
    <h2>The sorted names -  </h2>   
</div>   

    <div class="names">

    <p><%= NameSort['People'] %><p>

    </div>

<h2>Conditions</h2>

<div class="conditions">

<p>
    <h3>  - If 2 or more names have the same value,</h3>
        <p>- Re arranged those according to the String asending order.</p>
        <p>- Case is not considered when re arranging the values.</p>
    <h3>  - When there is a number in the middle or anywhere in the Name,</h3>
        <p>- Ignore that number.</p>     
</p>

</div>

