
<h1>Linear Search</h1>
<h2>Array : </h3>
<h2><%= LinearSearch['LinearSearchArray'] %></h2>

<h2>Search Value : <%= LinearSearch['searchValue'] %> </h3>

<h2>Answer: <%= LinearSearch['LinearSearch'] %></h2>

</br>

<a href="/"> Go Back!</a>