<h1>Binary Search</h1>
<h2>Array : </h3>
<h2><%= BinarySearch['BinarySearchArray'] %></h2>

<h2>Search Value : <%= BinarySearch['searchValue'] %> </h3>

<h2>Answer: <%= BinarySearch['BinarySearch'] %></h2>


</br>

<a href="/"> Go Back!</a>
