<h1>Welcome To the Answers Page</h1>
<br/>
<h2>Binary Search</h2>
<a href="/answersbinarysearch"> Click to view answers  for Binary Search</a>
<br/>

<h2>Linear Search</h2>
<a href="/answerslinearsearch"> Click to view answers  for Linear Search</a>
<br/>

<h2>Merge Sort</h2>
<a href="/answersmergesort"> Click to view answers  for Merge Sort</a>
<br/>

<h2>BubbleSort</h2>
<a href="/answersbubblesort"> Click to view answers  for Bubble Sort</a>
<br/>

<h2>Quick Sort</h2>
<a href="/answersquicksort"> Click to view answers  for Quick Sort</a>
<br/>

<h2>Selection Sort</h2>
<a href="/answersselectionsort"> Click to view answers  for Selection Sort</a>