<h1>Anagram Check Answers</h1>

<h2>Word 01: <%= anagramCheck['word1'] %></h3>
<h2>Word 01: <%= anagramCheck['word2'] %></h3>

<h2>Is Word 2 an Anagram of Word 1?</h2>


<div class="answers">

<h3><%= anagramCheck['anagramCheckAnswer'] %></h3>

</div>


<a href="/"> Go Back !</a>
