<h1>Repetition</h1>
<h2>Sentence : </h3>
<h2><%= repetitionCharacters['repetitionCharactersSentence'] %></h2>

<div class="answers">
<h2>Answer: <%= repetitionCharacters['repetitionCharactersAnswer'] %></h2>
</div>

<h3>Condition : A Character Should appear atleast TWICE to consider as a Repetition</h3>

<a href="/"> Go Back !</a>
