<h1>Missing Number</h1>
<h2>Array : </h3>
<h2><%= missingNumber['missingNumberArray'] %></h2>

<div class="answers">

<h2>Answer: <%= missingNumber['missingNumberAnswer'] %></h2>

</div>

<a href="/"> Go Back !</a>

