<h1>3rd Largest</h1>
<h2>Array : </h3>
<h2><%= thirdLargest['thirdLargestArray'] %></h2>

<div class="answers">

<h2>Answer: <%= thirdLargest['thirdLargestAnswer'] %></h2>

</div>

<a href="/"> Go Back !</a>
