<div class="subheader">
<h1>Welcome to the 3rd Assignment Answers Page</h1>
</div>


<h2>Please View Answers Using the following Links</h2>

<div class="answers">

<h3>3rd Largest Number</h3>
<a href="/thirdLargest"> Click to view answers  for 3rd Largest</a>
<br/>

<h2>Missing Number</h2>
<a href="/missingNumber"> Click to view answers  for Missing Number</a>
<br/>

<h2>Repetition Characters</h2>
<a href="/repetition"> Click to view answers  for Repetition Characters</a>
<br/>

<h2>Anagram Check</h2>
<a href="/anagram"> Click to view answers  for Anagram Check</a>
<br/>
<br/>
<br/>

</div>

