body {
    background-color: #eee;
    font-size: 32px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    align-content: center;
}

.subheader {
    padding: 60px;
    text-align: center;
    background: #507479;
    color: white;
    font-size: 30px;
}

header, footer {
    background-color: ghostwhite ;
    padding: 20px;
}


.answers {
    background-color: rgb(224, 212, 212);
    font-size: 32px;
    border-radius:15px;
    align-content: center;
    text-align:center;
}